
//  BODY                             
//  ---------------------------------------------

body {
	font-family: @body_font_family;
	font-size: ~'@{body_font_size}px';
	line-height: @body_line_height;
	color: @body_font_color;
}


//  TYPOGRAPHY                             
//  ---------------------------------------------

a {
	text-decoration: none;
	color:@color;
	border-bottom: 1px solid @color;

	&:visited {
		color:darken(@color, 10%);
		border-bottom-color: darken(@color, 10%);
	}
	
	&:hover {
		color:darken(@color, 10%);
		border-bottom-color: darken(@color, 10%);
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: @headings_font_family;
	font-weight: @headings_font_weight;
	line-height: @headings_line_height;
	margin: @heading_margin;
}

h1 {
	.font-size(@h1_font_size*@heading_reduc_factor);
	margin-top: 0.7em;
}

h2 {
	.font-size(@h2_font_size*@heading_reduc_factor);
}

h3 {
	.font-size(@h3_font_size*@heading_reduc_factor);
}

h4 {
	.font-size(@h4_font_size*@heading_reduc_factor);
}

h5 {
	.font-size(@h5_font_size*@heading_reduc_factor);
}

h6 {
	.font-size(@h6_font_size*@heading_reduc_factor);
}

@media @heading_reduc_breakpoint {

	h1 {
		.font-size(@h1_font_size);
	}

	h2 {
		.font-size(@h2_font_size);
	}

	h3 {
		.font-size(@h3_font_size);
	}

	h4 {
		.font-size(@h4_font_size);
	}

	h5 {
		.font-size(@h5_font_size);
	}

	h6 {
		.font-size(@h6_font_size);
	}

}


p {margin: 0 0 1em;}

ul {list-style-type: disc}

ul, ol {
	padding: 0;
	margin: 0 0 1.2em 35px;

	li {padding-bottom: 5px;}
}