
//  BODY
//  ---------------------------------------------

html {
	font-family: @body_font_family;
	font-size: ~'@{body_font_size}px';
	line-height: @body_line_height;
	color: @body_font_color;
}


//  TYPOGRAPHY
//  ---------------------------------------------

a {
	text-decoration: none;
	color: @color;
	border-bottom: 1px solid currentcolor;
	transition: all ease 250ms;

	/* &:visited {
		color: @color_dark;
	} */
	
	&:hover {
		color: darken(@color, 10%);
	}

	&.nostyle {
		border: none;
		color: inherit;

		&:hover { opacity: .7 }
	}

	&.noUnderline,
	&.link_image { border: none }
}

h1, h2, h3, h4, h5, h6 {
	font-family: @headings_font_family;
	font-weight: @headings_font_weight;
	line-height: @headings_line_height;
	margin: @heading_margin;
	text-transform: uppercase;
	color: @color;
}

h1, .h1 {
	.font-size(@h1_font_size*@heading_reduc_factor);
	margin-top: 0;
	.medium;
	color: #111;
}

h2, .h2 {
	.font-size(@h2_font_size*@heading_reduc_factor);
}

h3, .h3 {
	.font-size(@h3_font_size*@heading_reduc_factor);
}

h4, .h4 {
	.font-size(@h4_font_size*@heading_reduc_factor);
	.medium;
}

h5, .h5 {
	.font-size(@h5_font_size*@heading_reduc_factor);
}

h6, .h6 {
	.font-size(@h6_font_size*@heading_reduc_factor);
	.medium;
}

@media @heading_reduc_breakpoint {

	h1, .h1 {
		.font-size(@h1_font_size);
	}

	h2, .h2 {
		.font-size(@h2_font_size);
	}

	h3, .h3 {
		.font-size(@h3_font_size);
	}

	h4, .h4 {
		.font-size(@h4_font_size);
	}

	h5, .h5 {
		.font-size(@h5_font_size);
	}

	h6, .h6 {
		.font-size(@h6_font_size);
	}

}

@media @large {
	h1 {
		.font-size(35);
	}
}


p { margin: 0 0 1em }


ul, ol {
	padding: 0;
	margin: 0 0 1.2em 35px;

	li { padding-bottom: 5px }
}


ul {
	list-style-type: none;
	margin-left: 0;

	li {
		position: relative;
		padding-left: 35px;

		&:before {
			content:" ";
			position: absolute;
			width: 4px;
			height: 4px;
			border-radius: 10px;
			background: darken(@color, 10%);
			top:  12px;
			left: 18px;
		}
	}
}


blockquote {
	position: relative;
	.font-size(16);
	.light;
	font-style: italic;

	margin: 1.5em 0 1.5em;	

	@media @medium     { .font-size(18) } 
	@media @mid-medium { .font-size(20) } 
	@media @large      { .font-size(22) } 
}